ul.center {
	text-align: center;
}

li.inline {
	display: inline;
}

div.mvc-block {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding: 0.3em;
	border: 2px solid #fff;
	width: 30%;
	float: left;
}
div.mvc-block-margin {
	width: 5%;
	float: left;
}
div.mvc-block-inline {
	padding: 0.3em;
	margin-bottom: .5em;
}
div.mvc-block-half {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	padding: 0.3em;
	border: 2px solid #fff;
	width: 45%;
	float: left;
}
img.half {
	width: 39%;
	margin: 0 1% !important;
	float: left;
}

ul.repo,
ul.repo ul,
ul.repo ul ul {
	list-style-type: none;
}

div.iframe-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 36px;
	background: url('chrome-bar.png') 0 top no-repeat;
	/*height: 400px;*/
}
iframe.iframe {
	width: 936px;
	max-width: 100%;
	min-width: 100%;
	height: 210px;
}
iframe.iframe.example3 {
	height: 450px;
}


div.caption {
	font-size: .8em;
	color: #ccc;
	font-style: italic;
}