<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularJS, example 2</title>

    <!-- AngularJS File -->
    <script src="http://code.angularjs.org/1.0.7/angular.js"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <!-- Your own CSS -->
    <link rel="stylesheet" href="styles/main.css">
    
    <!-- Your own Angular files -->
    <script src="scripts/app.js"></script>
</head>
<body>
    
    <div ng-controller="Example3Ctrl" class="container">

      <form class="form-signin">
        
        <input type="number" ng-model="val1" min="0">
        <div>x</div>
        <input type="number" ng-model="val2" min="0">
        <div>= {{ val1 * val2 }}</div>  
        
        <br>
        <div class="results" ng-show="val1 * val2 > 10">I'm greater than 10 \o/</div>
        <div class="results smaller" ng-hide="val1 * val2 > 10">I'm smaller than 10 :(</div>

      </form>

    </div>

</body>
</html>
